@charset "utf-8";
/* CSS Document */

 #apDiv1{
       /* background-image: url(res/fond-gris1.jpg);*/
       background-color: #c0c0c0;
    }
	
#apDiv1 h1 .inscription .inscription {
	font-family: Georgia, serif;;
}


#apDiv2 {
	position: absolute;
	;
	width: 950px;
	height: 88px;
	z-index: 1;
	left: 200px;
	top: 234px;
	background-color: #FF3300;
}
#apDiv3 {
	position: relative;
	z-index: 1;
	top: -16px;
	font-family:Georgia, "Times New Roman", Times, serif;
}
#apDiv4{
	position: relative;
	z-index: 1;
	top: -16px;
	font-family:Georgia, "Times New Roman", Times, serif;
	background-color:black;
    padding: 90px;
    color: white;
}
#apDiv2 ul {
list-style: none
}

#apDiv2 ul li {
display: inline
}

#apDiv2 ul li a {
font-family:Georgia, serif;;
text-decoration: none;
background: #FF3300;
font-weight: bold;
color:#FFF; 
padding: 6px 10px 6px 10px
}

#apDiv2 ul li a:hover {
padding: 6px 10px 6px 10px;
font-weight: bold;
background:#999;
color:#000;
}

#apDiv2 ul li a.selected {
background: #999;
}


.cont
{
 width: 500px; height: 80px; overflow: auto; position:relative
}

/* Basic Grey */
.basic-grey {
    margin-left:auto;
    margin-right:auto;
    max-width: 1000px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}
.basic-grey h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 0px;
    color: #888;
}
.basic-grey label>span {
    float: left;
   
    text-align: right;
    padding-right: 10px;
   
    color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey input[type="password"], .basic-grey select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.basic-grey textarea{
    padding: 5px 3px 3px 5px;
}
.basic-grey textarea{
    height:120px;
}
.basic-grey .submit {
    background: #FF4500	;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.basic-grey .submit:hover {
    background: #CF7A7A
}
/*registration forms */

.registration {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}
.registration h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.registration h1>span {
    display: block;
    font-size: 11px;
}
.registration label {
    display: block;
    margin: 0px;
}
.registration label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.registration input[type="text"], .registration input[type="email"], .registration input[type="password"], .registration textarea, .registration select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.registration textarea{
    padding: 5px 3px 3px 5px;
}
.registration select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right);
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
.registration textarea{
    height:100px;
}
.registration .submit {
    background: #FF4500;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.registration .submit:hover {
    background: #CF7A7A
}
/*login */ 
.login {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #c0c0c0;
    padding: 12px 2px 12px 2px;
    font: 14px Georgia, "Times New Roman", Times, serif;
    color: #000000	;
    text-shadow: 1px 1px 1px #FFF;
   
}
.login label>span {
    float: left;
    width: 30%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.login .submit {
    background: #FF4500;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.login .submit:hover {
    background: #CF7A7A
}
/*lists*/
.lists {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 14px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}
.lists label {
    display: block;
    margin: 0px;
}
.lists label>span {
    
    color: #888;
    font-weight: bold;
}

.lists .submit {
    background: #FF4500;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.lists .submit:hover {
    background: #CF7A7A
}
/*evaluation*/
.evaluation {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 16px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}

.evaluation .submit {
    background: #FF4500;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.evaluation .submit:hover {
    background: #CF7A7A
}
/* extra lists */
.extra_lists {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 14px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
  
}
.extra_lists label {
    display: block;
    margin: 0px;
}
.extra_lists label>span {
    
    color: #888;
    font-weight: bold;
}
/* contract */
.contract {
    margin-left:auto;
    margin-right:auto;
    max-width: 1000px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}
.contract h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.contract h1>span {
    display: block;
    font-size: 11px;
}
.contract label {
    display: block;
    margin: 0px;
    color: #888;
    
}
.contract label>span {
    float: left;
   
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    color: #888;
}


.contract .submit {
    background: #FF4500	;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.contract .submit:hover {
    background: #CF7A7A
}

